@model string;

<h1>@Model</h1>
<h2>PDF Generator</h2>
<div style="page-break-before: always;">
        Page 1 content goes here
</div>
    
<!-- Content for page 2 -->
<div style="page-break-before: always;">
    Page 2 content goes here
</div>